{% extends 'base.html.twig' %}

{% block title %}{{ 'enabel_user.profile.title'|trans }} - {{ parent() }}{% endblock %}

{% block body %}
    <div class="main-header">
        <h2 class="main-title">{{ 'enabel_user.profile.title'|trans }}</h2>
    </div>

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <h5><i class="fas fa-user"></i> {{ 'enabel_user.profile.label.personalInformation'|trans }}</h5>
            <a href="{{ path('account_edit') }}" class="btn btn-sm btn-outline-primary text-end"><i class="fas fa-user-edit"></i>
                {{ 'enabel_user.profile.btn.edit'|trans }}
            </a>
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th>{{ 'enabel_user.profile.label.displayName'|trans }}</th>
                    <td>{{ app.user.displayName }}</td>
                </tr>
                {% if app.user.jobTitle is not null %}
                    <tr>
                        <th>{{ 'enabel_user.profile.label.jobTitle'|trans }}</th>
                        <td>{{ app.user.jobTitle }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>{{ 'enabel_user.profile.label.email'|trans }}</th>
                    <td>{{ app.user.email }}</td>
                </tr>
                <tr>
                    <th>{{ 'enabel_user.profile.label.language'|trans }}</th>
                    <td>{{ app.user.locale|language_name }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between">
            <h5><i class="fas fa-id-badge"></i> {{ 'enabel_user.profile.label.accountInformation'|trans }}</h5>
            {% if app.user.email ends with '@enabel.be' %}
            {% else %}
                <a href="{{ path('account_change_password') }}" class="btn btn-sm btn-outline-danger text-end">
                    <i class="fas fa-key"></i> {{ 'enabel_user.profile.btn.changePassword'|trans }}
                </a>
            {% endif %}
        </div>
        <div class="card-body">
            <table class="table table-sm">
                <tr>
                    <th>{{ 'enabel_user.profile.label.id'|trans }}</th>
                    <td>{{ app.user.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'enabel_user.profile.label.roles'|trans }}</th>
                    <td>
                        {{ component('user-role', {status: app.user.roles.0}) }}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'enabel_user.profile.label.lastLoginAt'|trans }}</th>
                    <td>
                        {% if app.user.lastLoginAt is empty %}
                        {{ 'enabel_user.profile.label.never'|trans }}
                        {% else %}
                        {{ app.user.lastLoginAt|format_datetime('full', 'short', locale=app.request.locale) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'enabel_user.profile.label.createdAt'|trans }}</th>
                    <td>
                        {% if app.user.createdAt is empty %}
                            {{ 'enabel_user.profile.label.never'|trans }}
                        {% else %}
                        {{ app.user.createdAt|format_datetime('full', 'short', locale=app.request.locale) }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'enabel_user.profile.label.updatedAt'|trans }}</th>
                    <td>
                        {% if app.user.updatedAt is empty %}
                            {{ 'enabel_user.profile.label.never'|trans }}
                        {% else %}
                            {{ app.user.updatedAt|format_datetime('full', 'short', locale=app.request.locale) }}
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}